<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="book"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="plats">
      <ion-icon name="cafe"></ion-icon>
      <ion-label>Plats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="ios-locate"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>restaurant</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Deconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
